# Default ignored files
/shelf/
/workspace.xml
.nexusenv/
# Virtual environment
.venv/
venv/
env/
*.pyc
__pycache__/
db.sqlite3
# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
# Documentation files
TODO.md
