{% extends "registration/base.html" %}
{% load i18n %}

{% block content %}
<p class="login-box-msg">{% trans "Check your email" %}</p>
<p>
  {% trans "If an active staff account exists with that email, a password reset link has been sent." %}
</p>
<p>
  {% trans "Use the link in that email to choose a new password." %}
</p>

<div class="mt-3" style="text-align: center;">
  <a href="{% url 'admin:login' %}" class="btn btn-primary btn-block">{% trans "Return to login" %}</a>
</div>
{% endblock %}
