{% extends "registration/base.html" %}
{% load i18n %}

{% block content %}
<p class="login-box-msg">{% trans "Set a new password" %}</p>

{% if validlink %}
  <form method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
      <div class="callout callout-danger">
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <div class="input-group mb-3">
      <input type="password" name="new_password1" class="form-control" placeholder="{% trans 'New password' %}" required id="id_new_password1">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>
    {% if form.new_password1.errors %}
      <div class="callout callout-danger">
        {% for error in form.new_password1.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <div class="input-group mb-3">
      <input type="password" name="new_password2" class="form-control" placeholder="{% trans 'Confirm new password' %}" required id="id_new_password2">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-check"></span>
        </div>
      </div>
    </div>
    {% if form.new_password2.errors %}
      <div class="callout callout-danger">
        {% for error in form.new_password2.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <button type="submit" class="btn btn-primary btn-block">{% trans "Update password" %}</button>
  </form>
{% else %}
  <div class="callout callout-danger">
    <p>{% trans "This reset link is invalid or expired." %}</p>
  </div>
  <a href="{% url 'admin_password_reset' %}" class="btn btn-primary btn-block">{% trans "Request a new reset link" %}</a>
{% endif %}
{% endblock %}
